<div class="container">
    <div class="row">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
        </ul>
    </div>
</div>
<div class="container jumbotron">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td><strong>客服号</strong></td>
                    <td><strong>昵称</strong></td>
                    <td><strong>编辑</strong></td>
                    <td><strong>删除</strong></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>客服号</td>
                    <td>客服号</td>
                    <td>客服号</td>
                    <td>客服号</td>
                </tr>
                <tr>
                    <td>客服号</td>
                    <td>客服号</td>
                    <td>客服号</td>
                    <td>客服号</td>
                </tr>
                <tr>
                    <td>客服号</td>
                    <td>客服号</td>
                    <td>客服号</td>
                    <td>客服号</td>
                </tr>
            </tbody>
        </table>
</div>